{% extends 'base.html.twig' %}

{% form_theme formView 'bootstrap_5_layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container w-auto">
        <h1>Connexion</h1>
        {% if error %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                    <div class="">
                        {{ error }}
                    </div>
                </div>
            </div>
        {% endif %}
        {{ form_start(formView) }}
        {{ form_row(formView.email) }}
        {{ form_row(formView.password) }}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="'btn btn-primary">Connexion</button>

        {{ form_end(formView) }}
    </div>
    <div class="container text-right">
        <a href="{{ path('app_forgot_password_request') }}" class="btn btn-warning btn-sm">Mot de passe oublié</a>
    </div>

{% endblock %}