{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('_route')=='task_create' %}
        <h1>Créer une tâche</h1>
        {% elseif app.request.attributes.get('_route')=='task_edit' %}
        <h1>Modifier une tâche</h1>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container w-auto">
    <div class="row">
        {% if app.request.attributes.get('_route')=='task_create' %}
            {{ form_start(form,{'action' : path('task_create')}) }}
        {% elseif app.request.attributes.get('_route')=='task_edit' %}
            {{ form_start(form,{'action' : path('task_edit',{'id': task.id})} ) }}
        {% endif %}
        {{ form_widget(form) }}

        {% if app.request.attributes.get('_route')=='task_create' %}
            <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {% elseif app.request.attributes.get('_route')=='task_edit' %}
            <button type="submit" class="btn btn-success pull-right">Editer</button>
        {% endif %}

        {{ form_end(form) }}

        <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
    </div>
</div>
{% endblock %}
