{% extends 'base.html.twig' %}


{% block header_title %}<h1>Liste des utilisateurs</h1>{% endblock %}

{% block body %}
    {% if users|length == 0 %}
        <div class="alert alert-warning" role="alert">
            Il n'y a pas encore d'utilisateur enregistré. <a href="" class="btn btn-warning pull-right">Créer un
                utilisateur</a>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="row text-center">
                <div class="table-responsive">
                <table class="table" >
                    <thead>
                    <tr>
                        <th class="text-center">Nom d'utilisateur</th>
                        <th class="text-center">Adresse d'utilisateur</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <a href="{{ path('user_edit', {'id' : user.id }) }}"
                                   class="btn btn-success btn-sm">Edit</a>
                                <a href="{{ path('user_delete', {'id' : user.id }) }}" class="btn btn-danger btn-sm">Supprimer</a>
                                <a href="{{ path('app_forgot_password_request') }}" class="btn btn-warning btn-sm">changer
                                    le mot de passe</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
